---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-white max-w-[70%] mx-auto">
		<Navbar/>
	</main>
</Layout>


