---
import Layout from "@/layouts/Layout.astro";
import IntroSection from "@/sections/IntroSection.astro";
import ServiceSection from "@/sections/serviceSection.astro";
import TechnologiesSection from "@/sections/technologiesSection.astro";
import LogosSection from "@/sections/logosSection.astro";
import ContactSection from "@/sections/contactSection.astro";
---

<Layout title="Home">
  <div id="background">
    <div
      id="img-background"
      class="opacity-30 lg:opacity-100 h-screen inset-0 absolute -z-10"
    >
    </div>
    <main
      class="text-white max-w-[90%] xs:max-w-[70%] mx-auto bg-transparent relative"
    >
      <IntroSection />
      <ServiceSection />
      <TechnologiesSection />
      <LogosSection />
      <ContactSection />
    </main>
  </div>
</Layout>

<style>
  #background {
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 37%,
      #4670f6 37%,
      #4670f6 67%,
      #ffffff 67%,
      #ffffff 95%,
      #273244 95%
    );
  }
  #img-background {
    background-image: url("/asset-background.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }

  @media screen and (max-width: 480px) {
    #background {
      background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 35%,
        #4670f6 35%,
        #4670f6 62%,
        #ffffff 62%,
        #ffffff 95%,
        #273244 95%
      );
    }
  }

@media screen and (481px <= width <= 768px) {
  
}
</style>
