---
import Icon from "@/components/Icon.astro";
---

<div id="default-carousel" class="relative w-full xl:hidden" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-16 overflow-hidden rounded-lg xl:h-96">
    <!-- Item 1 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center  items-center">
        <Icon styles="xs:w-[120px] md:w-[160px]" icon="tnw" width="80" />
      </div>
    </div>
    <!-- Item 2 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon styles="xs:w-[120px] md:w-[160px]" icon="google" width="80" />
      </div>
    </div>
    <!-- Item 3 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon  styles="xs:w-[120px] md:w-[160px]"icon="nike" width="70" />
      </div>
    </div>
    <!-- Item 4 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon  styles="xs:w-[120px] md:w-[160px]"icon="airbnb" width="80" />
      </div>
    </div>
    <!-- Item 5 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon  styles="xs:w-[120px] md:w-[160px]"icon="unicef" width="80" />
      </div>
    </div>
  </div>
</div>

