---
import Icon from "@/components/Icon.astro";
---

<div id="default-carousel" class="relative w-full xs:hidden" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-16 overflow-hidden rounded-lg md:h-96">
    <!-- Item 1 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon icon="tnw" width="80" />
      </div>
    </div>
    <!-- Item 2 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon icon="google" width="80" />
      </div>
    </div>
    <!-- Item 3 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon icon="nike" width="70" />
      </div>
    </div>
    <!-- Item 4 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon icon="airbnb" width="80" />
      </div>
    </div>
    <!-- Item 5 -->
    <div
      id="carrousel-item"
      class="hidden duration-1000 ease-in-out"
      data-carousel-item
    >
      <div class="w-full h-full flex justify-center items-center">
        <Icon icon="unicef" width="80" />
      </div>
    </div>
  </div>
</div>

