---
import ServiceCard from "@/components/ServiceCard.astro";
---

<div
  id="default-carousel"
  class="relative w-full xs:hidden"
  data-carousel="static"
>
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <ServiceCard
        iconWidth="24"
        serviceIcon="file"
        title="Business & Product Concept"
        description=`Analyse business and product concepts at Start-up Workshops or Ongoing Projects'
               Audits and prepare a viable and sensible product roadmap for achieving a perfect market fit.`
      />
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <ServiceCard
        iconWidth="24"
        serviceIcon="computer"
        title="Web & Mobile Development"
        description="Plan, develop and test high-quality web-applications using AngularJS, NodeJS, JavaScript, Typescript, HTML5 and SASS/CSS3 frameworks and native mobile languages."
      />
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <ServiceCard
        iconWidth="24"
        serviceIcon="pencil"
        title="UX & UI Design"
        description="Sketch information architecture and simple mock-ups, conver them into clickable prototypes and finish with usable interface designs to deliver a good and reliable user experience."
      />
    </div>
  </div>
  <!-- Slider controls -->
  <!-- TODO componetizar botones -->
  <button
    type="button"
    class="text-cardTitle absolute top-0 start-0 z-30 flex items-center justify-center h-full px-2 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full"
    >
      <svg
        class="w-3 h-3 rtl:rotate-180"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none text-cardTitle"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full"
    >
      <svg
        class="w-3 h-3 rtl:rotate-180"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
