---
import Icon from "./Icon.astro";
import Link from "./Link.astro";
---

<footer
  class="text-primary max-w-[90%] border-t flex flex-col gap-4 pb-10 mt-10 xs:border-0 border-secondary xs:max-w-[70%] mx-auto xs:mt-20 xs:pb-10 xs:grid xs:grid-cols-2 text-xs xs:text-sm xs:mb-20 xs:gap-10"
>
  <section class="flex flex-col gap-3 xs:gap-6 col-span-1 mt-2 xs:mt-0 text-center xs:text-start items-center xs:items-start">
    <h4 class="font-semibold">Desarrollado por Rodrigo Lezama</h4>
    <p class="text-secondary w-[70%] text-balance">
      Originario de Argentina, específicamente de la Ciudad de Buenos Aires,
      tengo 32 años. Aunque me he especializado en el desarrollo full-stack,
      siento una pasión especial por el front-end.
    </p>
    <div class="flex gap-4 items-center">
      <Link href="https://www.linkedin.com/in/rodrigo-lezama/" target="_blank" rel="noopener noreferrer">
        <Icon slot="icon-left" width="24" icon="linkedin" />
      </Link>
      <Link href="https://github.com/RodrigoL17" target="_blank" rel="noopener noreferrer">
        <Icon slot="icon-left" width="24" icon="github" />
      </Link>
      <Link href="https://rodrigolezama.netlify.app/" target="_blank" rel="noopener noreferrer">
        <Icon slot="icon-left" width="24" icon="chrome" />
      </Link>
    </div>
  </section>
  <section class="flex gap-4 xs:gap-24 col-span-1 mt-2 xs:mt-0">
    <div class="flex flex-col gap-4">
      <h4 class="uppercase text-xs font-semibold">sitemap</h4>
      <ul class="text-secondary flex flex-col gap-2">
        <li><Link content="Home" href="/" /></li>
        <li><Link content="Technology" href="/technology" /></li>
        <li><Link content="Services" href="/services" /></li>
        <li><Link content="About" href="/about" /></li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="uppercase text-xs font-semibold">case studies</h4>
      <ul class="text-secondary flex flex-col gap-2">
        <li><Link content="Swiss Airlines" /></li>
        <li><Link content="Google" /></li>
        <li><Link content="Apple" /></li>
        <li><Link content="Nike" /></li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="uppercase text-xs font-semibold">Contact</h4>
      <ul class="text-secondary flex flex-col gap-2">
        <li class="flex gap-2">
          Mail: <Link
            mailto="cordolezama@gmail.com"
            content="cordolezama@gmail.com"
          />

          <li>Tel: +54 9 11 3596-4530</li>
        </li>
      </ul>
    </div>
  </section>
</footer>
