<nav class="flex justify-between">
    <a class="text-primary" href="#">compleet labs</a>
    <div class="text-secondary">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Technology</a>
        <a href="#">Case studies</a>
        <a href="#">About</a>
        <a class="text-primary" href="#">Hire us</a>
    </div>
</nav>