---
import Link from "@/components/Link.astro";
---

<section class="mt-32 xs:mt-40 xs:pb-20 flex flex-col lg:flex-row gap-5 md:gap-10">
  <article class="flex bg-bgSecondary p-5 xs:p-10 rounded-sm xs:flex-1">
    <div class="flex gap-8 flex-col xs:items-start items-center xs:w-[60%]">
      <h3 class="text-xl xs:text-3xl font-semibold">Get in touch with us</h3>
      <p class="text-balance text-center xs:text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      </p>
      <Link
        content="Hire us"
        styles="text-xs xs:text-base px-4 xs:px-8 py-1 xs:py-2 border border-primary rounded"
      />
    </div>
  </article>
  <article class="flex bg-bgSecondary p-5 xs:p-10 relative rounded-sm xs:flex-1">
    <div class="flex gap-8 flex-col xs:items-start items-center xs:w-[60%]">
      <h3 class="text-xl xs:text-3xl font-semibold">Our Projects</h3>
      <p class="text-balance text-center xs:text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      </p>
      <Link
        content="See Projects"
        styles="text-xs xs:text-base px-4 xs:px-8 py-1 xs:py-2 border border-primary rounded"
      />
    </div>
    <img
      class="hidden xs:block xs:absolute xs:-right-5 xs:bottom-0 xs:object-contain xs:w-48  lg:w-56 xl:w-72"
      loading="lazy"
      src="promo.webp"
      alt="imagen promocional de aplicaciones en telefonos y relojes inteligentes"
    />
  </article>
</section>
