---
import Link from "@/components/Link.astro";
---

<section class="hidden xs:mt-40 xs:pb-20 xs:flex xs:gap-10">
  <article
    class="flex bg-bgSecondary p-10 rounded-sm flex-1"
  >
    <div class="flex gap-8 flex-col items-start w-[60%]">
      <h3 class="text-3xl font-semibold">Get in touch with us</h3>
      <p class="text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        
      </p>
      <Link
        content="Hire us"
        styles="px-8 py-2 border border-primary rounded"
      />
    </div>
  </article>
  <article
    class="flex bg-bgSecondary p-10 rounded-sm relative flex-1"
  >
    <div class="flex gap-8 flex-col items-start w-[60%]">
      <h3 class="text-3xl font-semibold">Our Projects</h3>
      <p class="text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      </p>
      <Link
        content="See Projects"
        styles="px-8 py-2 border border-primary rounded"
      />
    </div>
    <img class="absolute -right-2 bottom-0 object-contain w-72" loading="lazy" src="promo.webp" alt="imagen promocional de aplicaciones en telefonos y relojes inteligentes">
  </article>
</section>
