---
import Icon from "@/components/Icon.astro";
---

<section class="mt-80 pb-20 flex flex-col items-center text-secondary gap-10">
  <h3 class="uppercase  text-center text-sm">Clients we worked with</h3>
  <div class="flex justify-between w-full items-center ">
    <Icon icon="tnw" width="160" />
    <Icon icon="google" width="160" />
    <Icon icon="nike" width="140" />
    <Icon icon="airbnb" width="160" />
    <Icon icon="unicef" width="160" />
  </div>
</section>
