---
import Icon from "@/components/Icon.astro";
import CarrouselLogos from "@/components/CarrouselLogos.astro";
---

<section class="xs:mt-80 mt-32 flex flex-col xs:items-center text-secondary xs:gap-10">
  <h3 class="uppercase text-center text-xs md:text-sm font-bold">Clients we worked with</h3>
  <CarrouselLogos />
  <div class="hidden xl:flex xl:justify-between w-full xl:items-center ">
    <Icon icon="tnw" width="160" />
    <Icon icon="google" width="160" />
    <Icon icon="nike" width="140" />
    <Icon icon="airbnb" width="160" />
    <Icon icon="unicef" width="160" />
  </div>
</section>
