---
import Icon from "@/components/Icon.astro";
---

<section class="hidden xs:grid xs:grid-cols-3 xs:mt-60 xs:gap-10 xs:items-center">
  <div class="col-span-2 w-[70%] flex flex-col gap-8">
    <h3 class="text-4xl font-semibold">We use cutting edge technology</h3>
    <p class="text-lg text-balance" >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia unde
      delectus dicta eaque, minima in, ipsa quas alias odit inventore aliquam
      adipisci. Alias voluptatum, rerum et nemo magnam eligendi. Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Ipsa totam ad temporibus,
      quidem, eum provident illo accusantium recusandae fugit aperiam similique
      eligendi, exercitationem aliquid molestiae minus non ut iste harum!
    </p>
  </div>
  <div class="grid grid-cols-2 col-span-1 items-center justify-center align-middle place-items-center gap-10">
    <Icon icon="html" width="80" />
    <Icon icon="css" width="80" />
    <Icon icon="sass" width="80" />
    <Icon icon="nodejs" width="80" />
    <Icon icon="angular" width="80" />
    <Icon icon="python" width="80" />
  </div>
</section>
